# Dependencies
node_modules/
**/node_modules/
frontend/node_modules/
fresh_venv/
venv/

# Cache files
.cache/
**/.cache/
frontend/.cache/
frontend/node_modules/.cache/
__pycache__/
**/__pycache__/

# Build files
frontend/build/

# Large files
*.pack
*.pack.old
*.dylib
*.so
*.dll

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 